/*.nav-grid__container {*/
/*    background-color: #b71c1c;*/
/*}*/

.nav-item {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

span {
    color: #000;
    font-size: .875rem;
    font-weight: 600;
}

.brand-title {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 1rem;
}

.profile-button {
    margin-right: 3.8rem;
}

/* Overriding Material UI styling */

.MuiGrid-root.MuiGrid-grid-xs-12 {
    margin: 1rem 0;
    justify-content: flex-end;
}

@media screen and (max-width: 960px) {
    .MuiGrid-grid-xs-12 .MuiTextField-root {
        width: 100%;
    }

    .MuiGrid-root.MuiGrid-grid-xs-10 .brand-title {
        margin-top: 1rem;
    }

    .MuiGrid-root.nav-item {
        justify-content: space-between;
        width: 100%;
    }
}